<p >
    <code>
        <span>{{</span>  1304375948024 | date <span>}}</span>： {{ 1304375948024 | date }}
    </code>
    <br/><br/>
    <code>
        <span>{{</span>  1304375948024 | date:"MM/dd/yyyy @ h:mma" <span>}}</span>： {{ 1304375948024 | date:"MM/dd/yyyy @ h:mma" }}
    </code>
    <br/><br/>

    <code>
        <span>{{</span>  1222 | currency <span>}}</span>：{{ 1222 | currency}}
    </code>
    <br/><br/>

    <code>
        <span>{{</span>  "lower cap string" | uppercase <span>}}</span>：{{ "lower cap string" | uppercase }}
    </code>
    <br/><br/>

    <code>
        <span>{{</span>  {foo: "bar", baz: 23} | json <span>}}</span>：{{ {foo: "bar", baz: 23} | json }}
    </code>
    <br/><br/>

    自定义过滤器
    http://jingyan.baidu.com/article/3052f5a1fa407197f31f86f9.html



</p>