<div ui-content-for="title">
  <span>   </span>
</div>

<div class="scrollable">
  <div class="scrollable-content">

    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h1> ui <small>1.1</small>
        </h1>
      </div>
      <div class="list-group-item list-group-item-home">

       <div>
         <a href="#wuye">  <i class="fa fa-building feature-icon text-primary"></i></a>
        </div>


        <div>
          <a href="#wuye">  <h3 class="home-heading">ui</h3>
          Open the sidebar and start testing features </a>
        </div>

      </div>



      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-building feature-icon  text-primary"></i>
        </div>
        <div>
          <h3 class="home-heading"></h3>
          Scroll, tap, navigate, test that everything is smooth
        </div>
      </div>


      <div class="list-group-item list-group-item-home">
        <div>
          <i class="fa fa-building feature-icon  text-primary"></i>
        </div>
        <div>
          <h3 class="home-heading">ui</h3>
          Stretch and squeeze your browser window to see both mobile and desktop versions.
        </div>
      </div>



    </div>

  </div>
</div>
