<div class="scrollable">
    <div class="scrollable-content">

        <h2>验证实例</h2>
<h3><a href="https://docs.angularjs.org/api/ng/input/input%5Bcheckbox%5D">官文 </a> </h3>

        <form role="form" ng-app="myApp" ng-controller="validateCtrl"
              name="myForm" novalidate>
            <div class="form-group">
                <label class="control-label">用户名:</label>
                <input type="text" name="user" class="form-control" ng-model="user" required>

                <div class="alert alert-danger" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                    <span ng-show="myForm.user.$error.required">用户名是必须的。</span>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">邮箱:</label>
                <input class="form-control" type="email" name="email" ng-model="email" required>

                <div class="alert alert-danger" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span ng-show="myForm.email.$error.required">邮箱是必须的。</span>
                    <span ng-show="myForm.email.$error.email">非法的邮箱地址。</span>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label">数字:(1-10)</label>
                <input class="form-control" type="number" name="ctrlNumber" ng-model="ctrlNumber" min=0 max=10 required>

                <div class="alert alert-danger" ng-show="myForm.ctrlNumber.$dirty && myForm.ctrlNumber.$invalid">
                    <span ng-show="myForm.ctrlNumber.$error.required">数字必填</span>
                    <span ng-show="myForm.ctrlNumber.$error.number">不是有效的数字类型!</span>
                    <span ng-show="myForm.ctrlNumber.$error.min || myForm.ctrlNumber.$error.max">值得范围不在1-10之间</span>

                </div>
            </div>

            <div class="form-group">
                <label class="control-label">日期:</label>
                <input class="form-control" type="date" name="date" ng-model="date" required>

                <div class="alert alert-danger" ng-show="myForm.date.$dirty && myForm.date.$invalid">
                    <span ng-show="myForm.date.$error.required">日期必填</span>
                    <span ng-show="myForm.date.$error.date">不是有效的日期类型!</span>
                </div>
            </div>

            url


            <div class="form-group">

                <input type="submit"
                       ng-disabled="myForm.user.$dirty &&
                        myForm.user.$invalid ||
                        myForm.email.$invalid ||
                        myForm.date.$invalid ||
                        myForm.ctrlNumber.$invalid">

            </div>
        </form>


    </div>
</div>

