

<div class="scrollable">
  <h1 class="scrollable-header app-name">ui <small>1.1</small> </h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/">Home <i class="fa fa-chevron-right pull-right"></i></a>
       <a class="list-group-item" href="#/scrollable"> scrollable<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/bootstraptable"> bootstraptable<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/chart"> chart<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/contract"> contract<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/invalid"> invalid<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/ng-switch"> ng-switch <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/filter"> filter <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/ng-init"> ng-init <i class="fa fa-chevron-right pull-right"></i></a>

    </div>
  </div>
</div>